<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>overview</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <header></header>
    <main>
        <div class="container d-flex">

            <div class="main-acc-left  bg-dark mauchu  ">
                <div class="text-center border-acc-bottom p-3"><i
                        class="fas  fa-user-circle my-icon-thuvien mx-auto"></i></div>
                <div class="p-3 border-acc-bottom"><a class="nav-linkk" href="overview.html"><i
                            class="fas fa-home "></i> Tổng
                        quan</a></div>
                <div class="p-3 border-acc-bottom"><a class="nav-linkk" href="profile.html"><i
                            class="fas fa-pen"></i>Sửa hồ sơ</a>
                </div>
                <div class="p-3 border-acc-bottom"><a class="nav-linkk" href="change-password.html"><i
                            class="fas fa-lock"></i> Đổi mật
                        khẩu</a></div>
                <div class="p-3 border-acc-bottom"><a class="nav-linkk" href="notifications.html"><i
                            class="far fa-bell"></i>Cài đặt thông
                        báo </a> </div>
                <div class="p-3 border-acc-bottom"><a class="nav-linkk" href="privacy.html"><i class="fas fa-lock"></i>
                        Cài đặt bảo
                        mật</a></div>

                <div class="p-3 border-acc-bottom"><a class="nav-linkk" href="apps.html"><i
                            class="fas fa-puzzle-piece"></i> Ứng
                        dụng</a></div>
            </div>
            <div class="main-acc-right p-5">
                <h1 class="font-weight-bold">Cài đặt thông báo</h1>
                <form class=" needs-validation" novalidate>
                    <div class="row pt-4">
                        <div class="col-md-9">
                            <label for="validationDefault01" class="form-label "><strong> Cập nhật
                                    Spotify</strong></label>
                        </div>
                        <div class="col-md-1">
                            <label class="form-check-label" for="flexCheckDefault">
                                Email
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="form-check-label" for="flexCheckDefault">
                                Đẩy
                            </label>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-md-9 ">
                            <label for="validationDefault01" class="form-label ">Tin tức Sản phẩm <br>
                                Hướng dẫn sử dụng, các tính năng mới và các bản cập nhật sản phẩm mới nhất trên
                                Spotify</label>
                        </div>

                        <div class="col-md-1">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                        <div class="col-md-1">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-md-9 ">
                            <label for="validationDefault01" class="form-label ">Tin tức và Ưu đãi Spotify <br>
                                Tin tức, khuyến mãi và các sự kiện dành cho bạn</label>
                        </div>

                        <div class="col-md-1">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                        <div class="col-md-1">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </div>
                    <div class="pt-4"><strong>Nhạc của bạn</strong></div>
                    <div class="row pt-3">
                        <div class="col-md-9 ">
                            <label for="validationDefault01" class="form-label ">Nhạc Đề xuât <br>
                                Nhạc chúng tôi thấy bạn sẽ thích</label>
                        </div>

                        <div class="col-md-1">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                        <div class="col-md-1">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-md-9 ">
                            <label for="validationDefault01" class="form-label ">Nhạc Mới <br>
                                Các bản nhạc mới từ các nghệ sĩ bạn theo dõi hoặc có thể thích</label>
                        </div>

                        <div class="col-md-1">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                        <div class="col-md-1">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-md-9 ">
                            <label for="validationDefault01" class="form-label ">Các bản cập nhật Danh sách phát <br>
                                Một danh sách phát bạn theo dõi đã được cập nhật/label>
                        </div>

                        <div class="col-md-1">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                        <div class="col-md-1">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-md-9 ">
                            <label for="validationDefault01" class="form-label ">Thông báo Hòa nhạc <br>
                                Thông tin cập nhật về chương trình trực tiếp và chương trình qua mạng của nghệ sĩ bạn
                                yêu thích, diễn ra trực tuyến hoặc tại các địa điểm gần bạn</label>
                        </div>

                        <div class="col-md-1">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                        <div class="col-md-1">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-md-9 ">
                            <label for="validationDefault01" class="form-label ">Cập nhật Nghệ sĩ <br>
                                Tìm hiểu về các nghệ sĩ bạn nghe và các nghệ sĩ chúng tôi nghĩ bạn sẽ thích</label>
                        </div>

                        <div class="col-md-1">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                        <div class="col-md-1">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">lưu</button>
                </form>
            </div>


        </div>

    </main>
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>